[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/school-vercel
ExecStart=/root/school-vercel/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          sms_project.wsgi:application

[Install]
WantedBy=multi-user.target
