[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/school-vercel
Environment="DATABASE_URL=postgresql://neondb_owner:npg_n2xScdY5jMtw@ep-raspy-scene-aqz0eau1-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require"
Environment="DEBUG=False"
Environment="ALLOWED_HOSTS=104.248.226.234,localhost"
ExecStart=/root/school-vercel/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          sms_project.wsgi:application

[Install]
WantedBy=multi-user.target
